.hero
  .hero-inner
    %a.hero-logo{:href => ""}
      %img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png\r\n"}/
    .hero-copy
      %h1 WE ARE #NASHTECHUNITED.
      -#- if !logged_in?
        -#%p= Will you join up and take the pledge?
      -#- else 
      -#%p Hello, "#{user.name}"!

= button_to "I'll Take the Pledge!", new_user_registration_path, method: :get
= link_to "Signout", destroy_user_session_path, method: :delete
%h1{style:'text-align:center;'} What does it mean to be 'NashTechUnited'?
= link_to "Code of Conduct Resources", static_pages_code_path, method: :get
.cards
  .card
    .card-image
      %img{:alt => "", :src => "https://pbs.twimg.com/media/CHogFKiVAAA5bHz.jpg"}/
    .card-header
      Nashville
    .card-copy
      %p We're not in the 'Valley' or on any coast. We're the Music City, and in order to make good music, there needs to be collaboration.
  .card
    .card-image
      %img{:alt => "", :src => "https://pbs.twimg.com/media/CEAIgs_VEAAfdMO.jpg"}/
    .card-header
      Tech
    .card-copy
      %p The spirit of innovation and creativity extends beyond music. With established industries and incoming businesses, technology is a crucial component that keeps Nashville together.  When Google wants to 'fiber' you, it's a big deal.
  .card
    .card-image
      %img{:alt => "", :src => "https://pbs.twimg.com/media/CEHxzHOUUAA2eIL.jpg"}/
    .card-header
      United
    .card-copy
      %p It's up to each of us to treat people right.

.flex-boxes
  %a.flex-box{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
    %h1.flex-title What Can You Do?
    %h1.flex-title Take a personal 'code of conduct' pledge!
    %p Lorem ipsum dolor sit amet, elit. Rem, illum.
    = button_to "I'll Take the Pledge!", new_user_registration_path, method: :get
= render 'layouts/footer'
